article {
  counter-reset: figure citation;
  position: relative;

  h1 { &:extend(.h1); }
  h2 { &:extend(.h2); }
  h3 { &:extend(.h3); }
  h4 { &:extend(.h4); }
  h5 { &:extend(.h5); }
  h6 { &:extend(.h6); }

  h1,h2,h3,h4,h5,h6,p,figure { margin-bottom: 1rem; }

  p { text-align: justify; }

  blockquote {
    &::before {
      &:extend(.h2);
      content: ">";
      line-height: 1.48rem;
      position: absolute;
      right: 100%;
      padding-right: 0.5ch;
      color: @color-mix-20;
    }
  }

  @media screen and (min-width: 768px) {

    h1,h2,h3,h4,h5,h6,figure { clear: right; }

    p,figure { margin-right: 10rem; }
    blockquote { color: @color-mix; }

    p a { counter-increment: citation; }
    p a::after {
      font-size: 0.65rem;
      vertical-align: super;
      content: counter(citation);
    }

    p a::before, p strong, figure > figcaption {
      float: right;
      width: 9rem;
      margin-right: -10rem;
      word-wrap: break-word;
      font-size: 0.65rem;
      margin-bottom: 1rem;
      text-align: left;
    }

    p a::before {
      content: counter(citation) ".\00A0" attr(href);
    }

    figure > figcaption { counter-increment: figure; }
    figure > figcaption::before {
      content: "Figure "  counter(figure) ".\00A0";
    }
  }

  @media screen and (max-width: 767px) {
    figure > figcaption {
      text-align: center;
      font-family: @font-sans;
      color: @color-mix-80;
    }
  }

  img { max-width: 100%; }

  h1 {
    padding-top: 25vh;
    padding-bottom: 5vh;
    background-color: @color-accent;
    color: @color-back;
    margin-left: -50vw;
    padding-left: 50vw;
  }

  h2 {
    position: relative;
    counter-increment: subsection;

    a[rel='bookmark'] {
      text-decoration: none;
      color: @color-fore;
    }

    a[rel='bookmark']::before {
      font-weight: normal;
      content: counter(subsection) ".";
      position: absolute;
      right: 100%;
      color: @color-mix-20;
      padding-right: 0.5ch;
    }
  }
}
