article {
  counter-reset: figure citation;
  position: relative;

  h1 { &:extend(.h1); }
  h2 { &:extend(.h2); }
  h3 { &:extend(.h3); }
  h4 { &:extend(.h4); }
  h5 { &:extend(.h5); }
  h6 { &:extend(.h6); }

  h1,h2,h3,h4,h5,h6,p,figure,ol,ul { margin-bottom: 1rem; }
  hr { margin-top: 2rem; margin-bottom: 2rem; }
  li { line-height: 2rem; }

  p { text-align: justify; }

  blockquote {
    &::before {
      &:extend(.h2);
      content: ">";
      line-height: 1.48rem;
      position: absolute;
      right: 100%;
      padding-right: 0.5ch;
      color: @color-mix-20;
    }
  }

  ol, ul { padding-left: 2rem; }
  ul { list-style-type: disc; }

  @media screen and (min-width: 768px) {

    h1,h2,h3,h4,h5,h6,figure,hr { clear: right; }

    p,figure,ul,ol { margin-right: 10rem; }
    blockquote { color: @color-mix; }

    a[href]:not([href^='#']) { counter-increment: citation; }
    a[href]:not([href^='#'])::after {
      font-size: 0.65rem;
      vertical-align: super;
      content: counter(citation);
    }

    a[href]:not([href^='#'])::before, strong, figure > figcaption, .pull {
      float: right;
      width: 9rem;
      margin-right: -10rem;
      word-wrap: break-word;
      font-size: 0.65rem;
      margin-bottom: 1rem;
      text-align: left;
      clear: right;
      line-height: 1.48;
    }

    a[href]:not([href^='#'])::before {
      content: counter(citation) ".\00A0" attr(href);
    }

    figure > figcaption { counter-increment: figure; }
    figure > figcaption::before {
      content: "Figure "  counter(figure) ".\00A0";
    }
  }

  @media screen and (max-width: 767px) {
    figure > figcaption {
      text-align: center;
      font-style: italic;
      font-size: 0.65rem;
      padding-bottom: 0.5rem;
      margin-bottom: 0.5rem;
      color: @color-mix;
      border-bottom: 1px solid @color-mix;
      width: 66%;
      margin-left: auto; margin-right: auto;
    }

    figure > table { margin-left: auto; margin-right: auto; }
  }

  img { max-width: 100%; }

  h1 {
    padding-top: 25vh;
    padding-bottom: 5vh;
    background-color: @color-accent;
    color: @color-back;
    margin-left: -50vw;
    padding-left: 50vw;
  }

  h2 {
    position: relative;
    counter-increment: subsection;

    a[href^="#"] {
      &:hover { text-decoration: none; }
      color: @color-fore;
    }

    a[href^="#"]::before {
      font-weight: normal;
      content: "#";
      position: absolute;
      right: 100%;
      color: @color-mix-20;
      padding-right: 0.5ch;
    }
  }
}
