@import (inline) "reset.css";

@import url(http://fonts.googleapis.com/css?family=Cardo:400,400italic);
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);

@font-serif: Cardo, serif;
@font-sans:  Montserrat, sans-serif;
@font-mono:  'Source Code Pro', monospace;

@color-fore: black;
@color-mix-80:  mix(@color-fore, @color-back, 80%);
@color-mix:  mix(@color-fore, @color-back);
@color-mix-20:  mix(@color-fore, @color-back, 20%);
@color-back: white;

@color-accent: hsv(200, 60%, 64%);

:root {
  font-family: @font-serif;
  font-size: 13pt;
  line-height: 1.48;
  color: @color-fore;
  background-color: @color-back;

  @media screen and (max-width: 767px) {
    font-size: 10.5pt;
  }
}

.h1,.h2,.h3,.h4,.h5,.h6 {
  font-family: @font-sans;
}
.h1,.h2,.h3,.h4,.h5,.h6 { font-weight: bold; }
.h1 { font-size: 3rem; }
.h2 { font-size: 1.5rem; }

body {
  padding: 0 1rem 0 2.5em;
  max-width: 95ch;
  margin: 1rem auto;
}

em { font-style: italic; }

.front-matter {
  font-family: @font-sans;
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
  font-size: 0.7rem;
  > * { flex-grow: 1; flex-basis: 0; text-align: center; }
  > :first-child { text-align: left; }
  > :last-child { text-align: right; }
  .title { font-weight: bold; }
}

:link, :visited {
  color: @color-accent;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.post-list {
  > li {
    box-sizing: border-box;
    padding: 1rem;
    min-height: 20vh;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    border: 1px solid @color-mix-20;
    margin-bottom: 1rem;
  }
  a { &:extend(.h3); }
  p { margin-right: 1rem; }

  time {
    flex-grow: 1;
    text-align: right;
    font-size: 0.7rem;
    font-family: @font-sans;
  }
}

#refactorman-logo { width: 100%; height: 100px; font-family: @font-sans; }
#refactorman-logo #title {
  fill: @color-fore;
  font-weight: 700;
  font-size: 96px;
  letter-spacing: -3pt;
}

#refactorman-logo #author {
  fill: @color-fore;
  font-size: 32px;
  fill: @color-mix-20;
}

figure.image {
  text-align: center;
}

.signal-graph {
  table {
    th, td { text-align: center; }
    th {
      color: @color-mix-80;
      font-size: 0.7rem;
      padding: 0 0.5rem;
    }
    > thead th {
      border-bottom: 1px solid @color-fore;
    }
    > tbody {
      > tr > td {
        padding: 0 0.5rem;
        font-size: 1rem;
      }
      > tr:nth-child(3n) > * {
        border-bottom: 1px dashed @color-fore;
      }
    }
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: @color-fore;
  }

  .axis .tick text {
    fill: @color-fore;
    font-family: @font-serif;
    font-size: 0.65rem;
  }
}

@import "highlight.less";
@import "article.less";
