// Fonts

@font-serif: Cardo, serif;
@font-sans:  Montserrat, sans-serif;
@font-mono:  'Source Code Pro', monospace;

// Colors

@color-fore: black;
@color-mix-80:  mix(@color-fore, @color-back, 80%);
@color-mix:  mix(@color-fore, @color-back);
@color-mix-20:  mix(@color-fore, @color-back, 20%);
@color-back: white;
@color-accent: hsv(200, 60%, 64%);

// Highlight

@highlight-font-size: 0.7rem;
@highlight-line-height-calc: @highlight-font-size * 1.8;

@highlight-font-size-sm: 0.6rem;
@highlight-line-height-sm-calc: @highlight-font-size-sm * 1.48;

@highlight-background: #2d2d2d;
@highlight-current-line: #393939;
@highlight-selection: #515151;
@highlight-foreground: #cccccc;
@highlight-comment: #999999;
@highlight-red: #f2777a;
@highlight-orange: #f99157;
@highlight-yellow: #ffcc66;
@highlight-green: #99cc99;
@highlight-aqua: #66cccc;
@highlight-blue: #6699cc;
@highlight-purple: #cc99cc;

// Math

@phi: (1+sqrt(5))/2;
